.content form.form-grid {
    /*TODO look at minmax property*/

    /* grid-template-columns: 250px 250px; */
    grid-template-areas:
        "header   header"
        "name     name"
        "start    end"
        "country  country"
        "save     delete";
}

.content form h1 {
    margin: 0;
    padding: 0;
}

#formheader {
    grid-area: header;
}

#name {
    grid-area: name;
}
#start {
    grid-area: start;
    margin-right: 5px;
}
#end {
    grid-area: end;
}
#country {
    grid-area: country;
}
#save {
    grid-area: save;
    margin-right: 5px;
}
#delete {
    grid-area: delete;
}

#delete:hover {
    background-color: #c51616;
}

/* Grid Mobile */
@media screen and(max-width: 768px){
    .content form.form-grid {

    }


}

/* Grid Tablet */

/* Grid PC */
