.content form.form-grid {
    /*TODO look at minmax property*/

     /*grid-template-columns: 250px 250px; */
    grid-template-areas:
        "header       header"
        "name-select  name-select"
        "name         name"
        "start        end"
        "country      country"
        "save         delete";
}

#formheader {
    grid-area: header;
}

#name-select {
    grid-area: name-select;
}

#name {
    grid-area: name;
}

#start {
    grid-area: start;
}
#end {
    grid-area: end;
}
#country {
    grid-area: country;
}
#save {
    grid-area: save;
}
#delete {
    grid-area: delete;
}

#delete:hover {
    background-color: #c51616;
}

/* Grid Mobile */
@media screen and (max-width: 768px) {
    .content form.form-grid {
        grid-template-areas:
            "header"
            "name-select"
            "name"
            "start"
            "end"
            "country"
            "save"
            "delete";
    }
}

/* Grid Tablet */

/* Grid PC */
