body {
    font-family: Helvetica;
    background-color: #FCD5CE;
    margin: 0px;
}

main {
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    grid-template-rows: auto auto auto;
    justify-content: space-evenly;
    align-content: space-evenly;
    grid-template-areas:
            "header  header   header"
            ".       content  .     "
            ".       footer   .     ";
    row-gap: 5vh;
}

header {
    display: flex;
    grid-area: header;
    height: 50px;
    background-color: white;
}

.LogoWrapper {
    margin-top: 5px;
    flex-grow: 2;
    display: flex;
    justify-content: left;
}

.logo {
    margin-left: 10%;
    margin-right: 5%;
    margin-top: 0px;
}


header nav {
    flex-grow: 3;
    align-content: center;
    font-family: monospace;
    font-size: 15px;
}

nav ul li a, nav ul li a:visited {
    color: black;
    text-decoration: none;
}

nav ul li {
    list-style: none;
}

nav ul li a:hover{
    color: #FCD5CE;
    text-decoration: overline;
}

nav ul {
    display: flex;
    justify-content: space-around;
    align-content: center;
}

.content {
    grid-area: content;
    object-fit: scale-down;
}

footer {
    grid-area: footer;
}

form#login-form {
    display: grid;
}

.logo {
    object-fit: contain;
    height: 40px;
}
form {
    width: 30%;
    margin:  auto;
    margin-top: 10%;
    padding: 20px;
    background-color: white;
    max-width: 350px;
    display: grid;
}


/* ------ UI Elements ------ */

/* Text Field */
.textfield {
    margin-bottom: 20px;
    padding: 12px 20px;
    border-radius: 0;
    border: 1px solid black;

}

.textfield:hover {
    border: 1px solid #FCD5CE;
}
/* Buttons */
.button {
    color: #F8EDEB;
    background-color: black;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
}

.button:hover {
    background-color: #52b788;
}

