html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;

    font-family: Helvetica, sans-serif;
    background-color: #FCD5CE;
}

main {
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    grid-template-rows: auto auto auto;
    justify-content: space-evenly;
    align-content: space-evenly;
    grid-template-areas:
            "header  header   header"
            ".       content  .     "
            ".       footer   .     ";
    row-gap: 5vh;
}


header {
    grid-area: header;
    height: 7.5vh;
    display: flex;
    align-content: center;
    background-color: white;
    padding: 0.5vh 5vw;
    font-size: 3vh;
}

.logowrapper {
    margin-top: 5px;
    flex-grow: 2;
    display: flex;
    justify-content: left;
}

.logo {
    margin-left: 10vw;
    margin-right: 5vw;
    margin-top: 0;
    object-fit: contain;
    height: 40px;
}


header nav {
    flex-grow: 3;
    align-content: center;
    font-family: monospace;
    font-size: 2vh;
}

nav ul {
    display: flex;
    justify-content: space-around;
    align-content: center;
    height: max-content;
}
nav ul li {
    list-style: none;
    outline-style: none;
    height: auto;
}
/*header nav ul li:hover {*/
/*    background-color: #52b788;*/
/*}*/

nav ul li a, nav ul li a:visited {
    color: black;
    text-decoration: none;
    outline-style: none;
}

nav ul li a:hover {
    color: white;
}


.content {
    grid-area: content;
    object-fit: contain;
    padding: 5vh 5vw 5vh 5vw;

}

.content form {
    margin: auto;
    margin-bottom: 2.5vh;
    min-width: 30vw;
    display: flex;
    flex-flow: column wrap;
    row-gap: 2.5vh;
    background-color: white;
    padding: 30px;
}
/*.content form select {*/
/*    margin-top: 0;*/
/*    margin-bottom: 1.8%;*/
/*    !*place-self: stretch;*!*/
/*}*/
.content form.form-grid {
    display: grid;
    column-gap: 2.5vw;
}
.content form h1 {
    margin: 0;
    padding: 0;
}

footer {
    grid-area: footer;
    display: flex;
    justify-content: center;
    align-content: end;
}



/* ------ UI Elements ------ */
.formfield {
    margin-bottom: 2.5vh;
    padding: 12px 20px;
    border-radius: 0;
    border: 1px solid black;

}

.formfield:hover {
    border: 1px solid #FCD5CE;
}

/* Buttons */
.button {
    color: #F8EDEB;
    background-color: black;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
}

.button:hover {
    background-color: #52b788;
}

/* from https://www.w3.org/WAI/tutorials/forms/labels/#note-on-hiding-elements*/
.hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.mobileNav img {
    width: 30px;
}

.mobileNav {
    bottom: 0;
    left: 0;
    position: fixed;
    background-color: white;
    width: 100vw;
}


/* ------ Mobile ------ */

@media screen and (max-width: 768px) {
    .content form {
        min-width: 80%;
    }
    main {
        grid-template-columns: 20px 1fr 20px;
    }

    header {
        justify-items: center;
        height: 9vh;
    }

    .logowrapper {
        justify-content: center;
    }

    header nav {
        display: none;
    }

}

/* ------Tablet ------ */
@media screen
    and (min-width: 769px)
    and (max-width: 992px) {
        .content form {
            min-width: 50vw;
        }

        .mobileNav {
            display: none;
        }

    }

@media screen and (min-width: 992px) {
    header {
        font-size: 2vh;
    }
    .mobileNav {
        display: none;
    }
}

@media screen and (min-width: 1200px) {
    .content form {
        max-width: 450px;
    }
}

/* TODO disable Safari overwriting CSS for dropdowns */