svg {
    object-fit: contain;
    /*justify-content: center;*/
    /*align-items: center;*/
}

.traveled {
    fill: #52b788;
}

.traveled:hover {
    fill: #52836b;
}

#DE, #EG {
    fill: #52b788;
}
#DE:hover, #EG:hover {
    fill: #52836b;
}

.Australia {
    fill: #52b788;
}

path:hover {
    fill: #FCD5CE;
}